/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #4B6356;
  --ion-color-primary-rgb: rgb(75, 99, 86);
  --ion-color-primary-contrast: #F6D474;
  --ion-color-primary-contrast-rgb: rgb(246, 212, 116);
  --ion-color-primary-shade: #36473e;
  --ion-color-primary-tint: #36473e;

  /** secondary **/
  --ion-color-secondary: #8E9CA3;
  --ion-color-secondary-rgb: rgb(142, 156, 163);
  --ion-color-secondary-contrast: #B93F24;
  --ion-color-secondary-contrast-rgb: rgb(185, 63, 36);

  /** tertiary **/
  --ion-color-tertiary: #F8EFD4;
  --ion-color-tertiary-rgb: rgb(248, 239, 212);
  --ion-color-tertiary-contrast: #D08A4A;
  --ion-color-tertiary-contrast-rgb: rgb(208, 138, 74);
  --ion-color-tertiary-shade: #a59f8f;
  --ion-color-tertiary-tint: #a59f8f;

  /** success **/
  --ion-color-success: #B93F24;
  --ion-color-success-rgb: rgb(185, 63, 36);
  --ion-color-success-contrast: #8E9CA3;
  --ion-color-success-contrast-rgb: rgb(142, 156, 163);
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #F6D474;
  --ion-color-warning-rgb: rgb(246, 212, 116);
  --ion-color-warning-contrast: #4B6356;
  --ion-color-warning-contrast-rgb: rgb(75, 99, 86);
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #C3B39F;
  --ion-color-light-rgb: rgb(195, 179, 159);
  --ion-color-light-contrast: #4B6356;
  --ion-color-light-contrast-rgb: rgb(75, 99, 86);
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-background-color: #C3B39F;
  --ion-background-color-rgb: rgb(195, 179, 159);

  --red: #B93F24;
  --tan: #F8EFD4;
  --gray: #D5DDDC;
  --brown :#D08A4A;
}

