.phaseOneContainer {
  padding-top: 32px;
}

.pageContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
}

.icon {
  width: 100%;
  height: 100px;
}

.bigButton {
  width: 200px;
}

.section {
  padding: 8px;
  border: solid var(--ion-color-primary) 3px;
  margin-bottom: 8px;
  border-radius: 25px;
}

.button {
  display: flex;
  justify-content: center;
}

.roomContainer {
  padding: 8px;
  margin-left: 4px;
  margin-right: 4px;
  border: solid var(--ion-color-primary) 3px;
  border-radius: 16px;
  margin-bottom: 8px;
}